@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

:root {
    --font-family-body: 'Open Sans', sans-serif;
    --font-family-headings: 'Georgia', serif;
    --font-size: 18px;
    --font-line-height: 1.5;

    --layout-width: 70rem;
    --layout-padding-b: 1.0em;
}