<section class="categories location-{{ include.location }}">
    <article class="entry">
        <div class="entry-media">
            <img src="https://images.unsplash.com/photo-1563483762248-41507442c532?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=468&q=80" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                Amazing three house
            </h3>
            <p>
                The goal of this house is to make it unforgettable and a place where kids can grow and play for many years.
            </p>
            <p class="entry-meta">
                <a href="/three-house">Gallery</a>
            </p>
        </div>
    </article>
    <article class="entry">
        <div class="entry-media">
            <img src="https://images.unsplash.com/photo-1455275505851-8e604db9675a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                A-frame cabin in the woods
            </h3>
            <p>
                sasadsadda
            </p>
            <p class="entry-meta">
                <a href="/cabin">Gallery</a>
            </p>
        </div>
    </article>
</section>
    