<section class="categories location-{{ include.location }}">
    {% for category in site.categories %}
        <article class="entry">
            <div class="entry-media">
                <img src="{{ category.image_path}}" alt="">
            </div>  
            <div class="entry-content">
                <h3 class="entry-title">
                    <a href="#">{{ category.title }}</a> 
                </h3>
                <p class="entry-meta">
                    <a href="/woods-houses/">{{ category.link }}</a>
                </p>
                <p>
                    {{ category.content }}
                </p>
            </div>
        </article>
    {% endfor %}
</section>
