<section class="categories location-{{ include.location }}">
    <article class="entry">
        <div class="entry-media">
            <img src="https://images.unsplash.com/photo-1568092775154-7fa176a29c0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="">
        </div>  
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="#">Suburb style</a>
            </h3>
            <p class="entry-meta">
                <a href="/woods-houses/">For sale</a>
            </p>
            <p>
                Спокоен живот извън големия град, но на перфектно растояние от него.
            </p>
        </div>
    </article>
    <article class="entry">
        <div class="entry-media">
            <img src="https://i.pinimg.com/564x/82/a5/7c/82a57cdec4647be3f105ff9be8a4da85.jpg" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="#">Modern design</a>
            </h3>
            <p class="entry-meta">
                <a href="/modern-design/">For sale</a>
            </p>
            <p>
                За ценителите на най-новите тенденции в дизайна и архитектурата.
            </p>
        </div>
    </article>
    <article class="entry">
            <div class="entry-media">
                <img src="https://images.unsplash.com/photo-1554437041-409483d54614?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=937&q=80" alt="">
            </div>
            <div class="entry-content">
                <h3 class="entry-title">
                    <a href="#">Beach house</a>
                </h3>
                <p class="entry-meta">
                    <a href="/beach-houses/">For sale</a>
                </p>
                <p>
                    "Всичко, което е далече от морето, е провинция."
                </p>
            </div>
        </article>
</section>
