<div class="ad-gallery">
    <ul class="gallery">    
        <li class="landscape">
            <a href="">
                <img src="https://i.pinimg.com/564x/82/a5/7c/82a57cdec4647be3f105ff9be8a4da85.jpg" alt="">
            </a>
         </li>
         <li  class="portrait">
            <a href="">
                <img src="https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="">
            </a>
        </li>
         <li class="portrait">
             <a href="">
                 <img src="https://i.pinimg.com/564x/ed/ac/87/edac87fe13ed3809d1c651c1e4491302.jpg" alt="">
         </a>
         </li>

         <li  class="portrait">
            <a href="">
                <img src="https://i.pinimg.com/564x/1d/6c/90/1d6c90511dcd595245123d075f2f8099.jpg" alt="">
            </a>
        </li>
        <li class="landscape">
            <a href="">
                <img src="https://i.pinimg.com/564x/90/2f/76/902f76324833bf56c8c52a7e7bedd77b.jpg" alt="">
            </a>
        </li>
        <li class="landscape">
            <a href="">
                <img src="https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80" alt="">
            </a>
        </li>
         <li class="portrait">
             <a href="">
                 <img src="https://i.pinimg.com/564x/0e/0e/e6/0e0ee60572eacb89693e905f8d244755.jpg" alt="">
             </a>
         </li>
         <li class="portrait">
             <a href="">
                 <img src="https://i.pinimg.com/564x/4b/03/8a/4b038a717655b69e84e38d30969a8563.jpg" alt="">
             </a>
         </li>
         <li class="landscape">
            <a href="">
                <img src="https://i.pinimg.com/564x/24/c8/31/24c831de7536982450820f5a2c55b8a3.jpg" alt="">
            </a>
        </li>
        <li class="portrait">
            <a href="">
                <img src="https://i.pinimg.com/564x/cc/d8/29/ccd82975451a2e3d8b96e26702003d25.jpg" alt="">
            </a>
        </li>
        <li class="landscape">
            <a href="">
                <img src="https://i.pinimg.com/564x/b3/82/5e/b3825ef3074718514185b335f0efd7ed.jpg" alt="">
            </a>
        </li>
        <li class="landscape">
            <a href="">
                <img src="https://i.pinimg.com/564x/0b/40/1b/0b401b527fe673e97f55a1109b50323e.jpg" alt="">
            </a>
        </li>
    </ul>
</div>
<div class="row">
    <p>Площ: 250 m2</p>
    <p><i class="fas fa-bed"></i>  Спални: 3</p>
    <p><i class="fas fa-bath"></i>  Бани: 2</p>
    <p><i class="fas fa-hashtag"></i>  ID: 8020</p>
</div>  
<div class="description">
    <p>Dream Home продава голямa къща в близост до Слънчев бряг.</p>
    <p>Tухлена сграда от 2011г. завършена до ключ.</p>
    <p>Площ: 250 кв.м.</p>
    <p>Двор: 300 кв.м.</p>
    <p>Отопление: Ток</p>
    <p>Разпределение: коридор, голям дрешник 5 кв м, спалня 22 кв м, втора спалня 22 кв м, трета спалня 20кв м, хол с кухненски бокс 50 кв м, две бани по 10 и 12 кв м и два балкона.</p>
    <p>за повече информация се обадете на +359888888888 Десислава Петрова</p>
</div>
<div class="characteristics">
    <h3>Характеристики</h3>
    <div>
        <p><i class="fas fa-check"></i> Обзаведен</p>
        <p><i class="fas fa-check"></i> Отопление: Ток</p>
        <p><i class="fas fa-check"></i> Басейн</p>
        <p><i class="fas fa-check"></i> Строителство: Тухла</p>
    </div>
</div>
<div class="location">
    <h3>Местоположение</h3>
    <div class="iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d732.9409249553631!2d27.736548829213017!3d42.70872399869784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDQyJzMxLjQiTiAyN8KwNDQnMTMuNiJF!5e0!3m2!1sbg!2sbg!4v1575813808748!5m2!1sbg!2sbg" width="100%" height="400" frameborder="1" style="border:3px solid #787878;" allowfullscreen=""></iframe>
    </div>
</div>