<section class="categories location-{{ include.location }}">
    {% for estate in site.estates-modern %}
    <article class="entry">
            <div class="entry-media">
                <img src="{{ estate.image_path }}" alt="">
            </div>
            <div class="entry-content">
                <h3 class="entry-title">
                    {{ estate.title }}
                </h3>
                <p>
                    {{ estate.content }}
                </p>
                <p class="entry-meta">
                    <a href="/{{ estate.permalink }}/">{{ estate.link }} <i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </article>
    {% endfor %}
</section>
    