<label for="nav-toggle" class="nav-toggle-lable">Menu</label>
<nav class="site-nav location-{{ include.location }}">
    <ul>
        {% assign navigation_pages = site.pages | sort:"order" %}
        {% for current_page in navigation_pages %}
            {% if current_page.title %}
    
            <li class="page-title-{{ current_page.title | slugify }}{% if current_page.url == page.url %} current-page{% endif %}">
                <a href="{{ site.baseurl }}{{ current_page.url }}">{{ current_page.navigation_name }}</a>
            {% if current_page.title == 'Houses' %}
                <ul>
                    <li>
                        <a href="/woods-houses/">Горски къщи</a>
                    </li>
                    <li>
                        <a href="/modern-design/">Модерен дизайн</a>
                    </li>
                    <li>
                        <a href="/beach-houses/">Къщи край плажа</a>
                    </li>
                </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>