.ad-gallery,
.row,
.description,
.characteristics,
.location,
.submit-form {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding-top: 2em;
}

.gallery {
    display: grid;
    grid-template-columns: var(--gallery-template-columns);
    grid-auto-flow: dense;
    grid-gap: var(--gallery-gap);

    @include bp(big-tablet) {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5em;
        padding: 1em;
    }

    @include bp(medium-phone) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5em;
        padding: 1em;
    }

    li {
        display: block;
        list-style: none outside;
        position: relative;
        overflow: hidden;
        border: var(--gallery-li-border);
        transition: transform 0.3s ease-in-out;

        &::before {
            display: block;
            content: '';
            padding-top: 100%;
        }

        &.portrait {
            grid-row: var(--portrait-row-span);
            grid-column: var(--portrait-column-span);

            @include bp(small-tablet) {
                grid-row: span 2;
            }

            &:before {
                padding-top: var(--portrait-padding-top);
            }
        }

        &.landscape {
            grid-column: var(--landscape-column-span);

            img {
                width: 100%;
                height: auto;
            
                @include bp(small-tablet) {
                    height: 100%;
                    width: 120%;
                }
            }
            
            &::before {
                padding-top: var(--landscape-padding-top);
            }
        }
        
        &:hover {
            transform: scale(1.1);
        }
    }

    a {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    img {
        display: block;
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.row {
    display: flex;

    @include bp(mobile) {
        flex-wrap: wrap;
    }

    p {
        flex: 0 0 25%;
        padding: 1em 2em;
        color: var(--ad-content-color);

        @include bp(big-tablet) {
            flex: 1 1 50%;
        }

        @include bp(medium-phone) {
            padding: 1em;
        }
    }
}

.row {
    border-bottom: 1px solid var(--ad-content-color);
}

.description {
    padding: 1em 3em;
    color: #787878;
    border-bottom: 1px solid var(--ad-content-color);
    padding-top: 2em;

    @include bp(small-tablet) {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.characteristics {
    color: #787878;
    border-bottom: 1px solid var(--ad-content-color);
    padding-top: 1em;


    h3 {
        padding-left: 1em;
    }

    & > div {
        display: flex;

        @include bp(mobile) {
            flex-wrap: wrap;
        }
    

        & p {
            flex: 1 1 25%;
            padding: 1em 3em;

            @include bp(big-tablet) {
                flex: 1 1 50%;
            }
        }
    }
}

.location {
    padding: 1em 0;

    h3 {
        color: var(--ad-content-color);
        padding-bottom: 1em;
        padding-left: 1em;
    }

    .iframe {
        padding: 0 1em;
        width: 100%;
        height: 400px;
    }

    iframe {
        border: 1px solid var(--iframe-border-color);
    }
}