.site-main .categories.location-woods-houses,
.site-main .categories.location-modern-design,
.site-main .categories.location-beach-houses {
    background-color: var(--categories-background-color);
    display: grid;
    grid-template-columns: var(--categories-template-column);
    grid-template-rows: var(--categories-template-rows);
    max-width: 100%;
    padding: 1em 3em;

    @include bp(mobile) {
        padding: 1em;
    }
    
    @include bp(small-tablet) {
        padding: 1em 3em;
        display: block;
    }
    
    @include bp(medium-phone) {
        padding: 1em;
    }

    &.location-woods-houses .entry,
    &.location-modern-design .entry,
    &.location-beach-houses .entry {
        display: flex;
        height: var(--category-entry-height);
        flex-direction: row;
        background-color: var(--entry-background-color);
        position: relative;
        z-index: 30;
        box-shadow: var(--entry-box-shadow);
        transition: var(--entry-transition);
        margin: 2em 4em;

        // @include dp(desktop) {
        // }

        @include bp(mobile) {
            margin: 1.5em;
        }

        @include bp(big-tablet) {
            flex-direction: column;
            height: 75vh;
        }

        @include bp(tablet) {
            height: 85vh;
            margin: 2em;
        }

        @include bp(small-tablet) {
            margin-bottom: 2em;
            height: 70vh;
        }

        @include bp(medium-phone) {
            height: 75vh;
            margin: 2em 1em;
        }

        @include bp(small-phone) {
            margin: 0.5em 0.5em 1.5em 0.5em;
            height: 80vh;
        }
    }

    & .entry:hover{
        box-shadow: var(--entry-hover-shadow);
    }

    .entry-media {
        flex: 0 0 50%;
        position: relative;
        overflow: hidden;

        @include bp(desktop) {
            flex: 1 0 50%;
            
        }

        & img {
            height: 100%;
            width: auto;
            position: absolute;
            top: 50%; left:50%;
            transform: translate(-50%, -50%);
            transition: var(--entry-img-transition);

            @include bp(desktop) {
                width: 110%;
            }

            @include bp(mobile) {
                width: 100%;
            }

            @include bp(big-tablet) {
                height: auto;
                width: 100%;
            }

            @include bp(tablet) {
                top: 40%;
            }

            // @include bp(small-tablet) {
            //     flex: 1 0 60%;
            //     // height: auto;
            //     // width: 100%;
            // }

            @include bp(phone) {
            }
        }

        &:hover img {
            transform: var(--entry-img-hover-transform);
        }
    }

    .entry-content{
        flex: 0 0 50%;
        box-shadow:  var(--entry-content-shadow);
        padding: 1em;
        display: flex;
        justify-content: space-between;

        p:nth-of-type(2) {
            padding: 0;
        }

        @include bp(big-tablet) {
            padding: 1em;
        }

        @include bp(medium-phone) {
            font-size: 0.9em;
        }
    }

    .entry-title {
        padding-bottom: 0.5rem;
        font-weight: 500;
        font-size: var(--entry-title-font-size);

        @include bp(mobile) {
            font-size: 1.3em;
        }

        @include bp(tablet) {
            padding: 0;
        }

    }
}