.site-main .categories.location-woods-houses,
.site-main .categories.location-modern-design,
.site-main .categories.location-beach-houses {
    background-color: var(--categories-background-color);
    display: grid;
    grid-template-columns: var(--categories-template-column);
    grid-template-rows: var(--categories-template-rows);
    max-width: 100%;
    padding: 1em 3em;

    @include bp(small-tablet) {
        display: block;
    }

    @include bp(phone) {
        padding: 1em;
    }

    &.location-woods-houses .entry,
    &.location-modern-design .entry,
    &.location-beach-houses .entry {
        display: flex;
        height: var(--category-entry-height);
        flex-direction: row;
        background-color: var(--entry-background-color);
        position: relative;
        z-index: 30;
        /* top: -3em; */
        box-shadow: var(--entry-box-shadow);
        transition: var(--entry-transition);
        margin: 2em 4em;

        @include bp(mobile) {
            flex-direction: column;
        }

        @include bp(tablet) {
            height: 30em;
            margin: 2em;
        }

        @include bp(small-tablet) {
            margin-bottom: 2em;
        }

        @include bp(medium-phone) {
            margin: 1em;
        }

        @include bp(small-phone) {
            margin: 0.5em;
        }
    }

    & .entry:hover{
        box-shadow: var(--entry-hover-shadow);
    }

    .entry-media {
        flex: 1 1 50%;
        position: relative;
        overflow: hidden;

        & img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%; left:50%;
            transform: translate(-50%, -50%);
            transition: var(--entry-img-transition);

            @include bp(tablet) {
                top: 40%;
            }

            @include bp(phone) {
                flex: 1 1 60%;
            }
        }

        &:hover img {
            transform: var(--entry-img-hover-transform);
        }
    }

    .entry-content{
        flex: 1 1 50%;
        // box-shadow:  var(--entry-content-shadow);
        padding: 2em;

        p:nth-of-type(2) {
            padding: 0;
        }

        @include bp(tablet) {
            padding: 1em;
        }

        @include bp(phone) {
            flex: 1 1 40%;
        }
    }

    .entry-title {
        padding-bottom: 0.5rem;
        font-weight: 500;
        font-size: var(--entry-title-font-size);

        @include bp(tablet) {
            padding: 0;
        }

    }
}