.site-main .categories.location-woods-houses,
.site-main .categories.location-modern-design,
.site-main .categories.location-beach-houses {
    background-color: var(--categories-background-color);
    display: grid;
    grid-template-columns: var(--categories-template-column);
    grid-template-rows: var(--categories-template-rows);
    max-width: 100%;
    padding: 1em 3em;

    
    &.location-woods-houses .entry,
    &.location-modern-design .entry,
    &.location-beach-houses .entry {
        display: flex;
        height: var(--category-entry-height);
        flex-direction: row;
        background-color: var(--entry-background-color);
        position: relative;
        z-index: 30;
        /* top: -3em; */
        box-shadow: var(--entry-box-shadow);
        transition: var(--entry-transition);
        margin: 2em 4em;

        @include bp(mobile) {
            flex-direction: column;
        }
    
    }

    & .entry:hover{
        box-shadow: var(--entry-hover-shadow);
    }

    .entry-media {
        flex: 0 0 50%;
        position: relative;
        overflow: hidden;

        & img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%; left:50%;
            transform: translate(-50%, -50%);
            transition: var(--entry-img-transition);
        }

        &:hover img {
            transform: var(--entry-img-hover-transform);
        }
    }

    .entry-content{
        flex: 0 0 50%;
        z-index: 20;
        box-shadow:  var(--entry-content-shadow);
        padding: 2em;
    }

    .entry-title {
        padding-bottom: 0.5rem;
        font-weight: 500;
        font-size: var(--entry-title-font-size);
    }
}