.categories {
    max-width: var(--layout-width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include bp(mobile) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    &.location-home .entry,
    &.location-houses .entry {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        height: var(--location-entry-height);
        background-color: #F8F8F8;
        position: relative;
        z-index: 30;
        /* top: -3em; */
        box-shadow: var(--lacation-entry-box-shadow);
        overflow: hidden;
        transition: var(--entry-transition);
        margin: 3em 0;

        @include bp(mobile) {
            flex: 0 0 40%;
        }
    }
    
    &.location-home .entry:hover,
    &.location-houses .entry:hover {
        box-shadow: var(--entry-hover-shadow);
    }
    
    &.location-home .entry-media,
    &.location-houses .entry-media {
        flex: 0 0 50%;
        position: relative;
        overflow: hidden;

        & img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%; left:50%;
            transform: translate(-50%, -50%);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
        }

        &:hover img {
            transform: var(--entry-img-hover-transform);
        }
    }
}

.entry-content{
    flex: 0 0 50%;
    background-color: #FFF;
    z-index: 20;
    box-shadow:  var(--entry-content-shadow);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & p:last-child {
        text-align: right;
        font-size: 0.8em;
    }
}

.entry-title {
    padding-bottom: 0.5rem;
    font-weight: 500;
    text-align: center;

    a {
        font-size: 0.9em;
        text-decoration: none;
    }
}

.entry-title a,
.entry-meta a {
    color: var(--entry-meta-color);
}

.entry-meta {
    vertical-align: bottom;

    a {
        font-size: var(--entry-meta-font-size);
    }
}