.site-wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
}

.site-header {
    position: relative;
    z-index: 2000;
    box-shadow: var(--header-box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-branding {
        padding-left: 5em;
        
        a {
            font-weight: 500;
        }

        @include bp(mobile) {
           padding-left: 3em;
        }

        @include bp(phone) {
            padding-left: 2em;
         }

         @include bp(medium-phone) {
            padding-left: 1em;
            font-size: 0.8em;
        }

        @include bp(small-phone) {
            font-size: 0.6em;
        }
    }

    // @include bp(desktop) {
    // }
}

.site-header a {
    color: black;
    text-decoration: none;
}

.site-media {
    height: var(--site-media-height);
    overflow: hidden;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &::before {
        display: block;
        content: '';
        background-color: var(--media-before-color);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    & h2 {
        width: 100%;   
        color: white;
        position: relative;
        z-index: 10;
        text-align: center;
        font-size: 3em;
        font-weight: 500;
        transform: translateX(-50vw);
        opacity: 0;
        transition: opacity 0.5s ease-in 0.7s;

        @include bp(medium-phone) {
            font-size: 1.5em;
        }
    }

    @include bp(mobile) {
        height: 50vh;
    }

    @include bp(mobile) {
        height: 40vh;
    }

    @include bp(medium-phone) {
        height: 30vh;
    }

    @include bp(small-phone) {
        height: 20vh;
    }
}

.loaded .site-media h2 {
    transform: translateX(0);
    opacity: 1;
}

blockquote {
    text-align: center;
    font-style: italic;
    font-size: var(--blockquote-font-size);
    padding: 1em 2em;
    box-shadow: var(--blockquote-box-shadow);
    border-radius: 0.2em;
    margin: 1.5em 7em;
    background-color: var(--blockquote-background-color);

    & p:last-child {
        text-align: right;
        font-size: 0.8em;
    }

    @include bp(tablet) {
        margin: 1.5em 3em;
    }

    @include bp(small-tablet) {
        margin: 1.5em 3em;
    }

    @include bp(small-phone) {
        margin: 1em;
        padding: 1em 0.5em;
    }
}

.site-footer {
    background-color: #910;
    box-shadow: var(--footer-box-shadow);
    margin: 0;
    
    .site-wrapper {
        display: flex;
        padding: 1.5em 0;
        color: #FFF;

        @include bp(mobile) {
            padding-left: 2em;
        }

        @include bp(medium-phone) {
            display: block;
            padding-left: 1em;
        }

        p {
            flex: 1 1 50%;

            @include bp(medium-phone) {
                flex: 1 1 70%;
            }
        }
    
        .social {
            flex: 1 1 50%;
            text-align: right;
            
            @include bp(phone) {
                flex: 1 1 30%;
            }

            @include bp(medium-phone) {
                text-align: left;
            }

            i {
                padding-right: 1em;
                font-size: 1.5em;

                @include bp(phone) {
                    padding-right: 0.5em;
                    font-size: 1em;
                }
            }
        }
    }
}

