.site-nav {
    text-align: right;
    padding-top: 0.5em;
    padding-right: 3em;

    @include bp(mobile) {
        display: none;
    }
        ul {
            padding: 0;
            margin: 0;

            li {
                display: block;
                padding: 0.5em; 
                transform: translate(0, -5em);
                opacity: 0;
                position: relative;
                transition: opacity 0.5s ease-in, transform 0.5s ease-in;
            
                @for $i from 1 through 5 {
                        &:nth-child(#{$i}){transition-delay: $i * 0.1s;}
                }

                .loaded & {
                    opacity: 1;
                    transform: translate(0, 0);
                }

                &:hover > ul {
                    display: block;

                    @include bp(mobile) {
                        display: none;
                    }
                }
            }

            ul {
                display: none;
                position: absolute;
                top: 85%;
                left: 5%;
                right: -10%;
                background-color: var(--navigation-footer-color);
                border-radius: 0.3em;

                a {
                    background-color: var(--navigation-footer-color);
                    color: white;
                    font-size: 0.8em;
                    text-align: left;

                    &:hover {
                        background-color: #fff;
                        color: black;
                    }
                }
            }
        }

        & > ul {
            @include bp(desktop){
                display: flex;
                align-items: center;
            }
        }

        a {
            display: flex;
            color: black;
            text-decoration: none;
            border-radius: 0.5em;
            padding: 0.5em 1em;

            &::before {
                display: block;
                margin-right: 0.5em;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }

    

    
    
    a:hover,
    a:focus,
    .current-page a {
        background-color: var(--navigation-footer-color);
        color: #FFF;
    }

    li.page-title-about a::before {
        content: '\f2bb';
    }

    li.page-title-contacts a::before {
        content: '\f2a0';
    }

    li.page-title-houses > a::before {
        content: '\f1ad';
    }

    li.page-title-services a::before {
        content: '\f0c9';
    }
}

.nav-toggle {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:checked + .site .site-header .site-nav {
        @include bp(mobile) {
            display: block;
            position: absolute;
            right: 0%;
            top: 70%;
            background-color: var(--navigation-footer-color);
            padding-right: 0.5em;

            li > a {
                color: white;
            }
            
            li:hover > a {
                background-color: #fff;
                color: black;
            }
        }
    }

    &-lable {
        margin-right: 3em;
        background-color: var(--navigation-footer-color);
        color: #FFF;
        padding: 0.5em 1em;

        @include bp(desktop) {
            display: none;
        }

        @include bp(phone) {
            margin-right: 2em;
        }

        @include bp(medium-phone) {
            margin-right: 1em;
        }
    }
}