.page-home {
    .site-media {
        height: 90vh;
    }
}

.page-about {
    
    .site-about {
        background-image: url('https://images.unsplash.com/photo-1560026301-88340cf16be7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
        padding: 1em;
        background-position: top;

        .main-content-about,
        .info {
            color: #FFF;
            background-color: rgba(0, 0, 0, 0.5);
            margin: 0 3em;
            padding: 1em 3em;
        }

        h2 {
            text-align: center;
            margin: 1em 0;
        }

        & div:first-of-type {
            display: block;
        }

        .info {
            display: none;
            padding-top: 1em;
        }

        .button {
            text-decoration: underline;
            text-align: right;
        }

        .button .less {
            display: none;
        }

        .mission {
            flex: 0 0 45%;
        }

        .team {
            flex: 0 0 45%;
        }
    }

    .team-info {
        margin: 1em 3em;

        .manager {
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1em;
            margin: 1em;
            display: flex;
            justify-content: space-between;
            height: 50vh;
            transition: box-shadow 0.5s ease-in;
        }

        .manager:hover {
            box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
        }

        .img {
            flex: 0 0 30%;
            overflow: hidden;
        }

        .content {
            flex: 0 0 60%;

            .name {
                font-size: 1.2em;
            }

            .title,
            .email,
            .phone {
                font-size: 0.8em;
                opacity: 0.8;
            }
        }
    }
}

input {
    display: none;
}

input:checked + .site-about .info {
    display: flex;
    justify-content: space-between;
}

input:checked + .site-about .button .less {
    display: block;
}

input:checked + .site-about .button .more {
    display: none;
}

.page-services {

    .services {
        max-width: var(--layout-width);
        height: 100%;
        margin: 0 auto;

        .service {
            display: flex;
            justify-content: space-between;
            outline-style: solid;
            outline-width: thin;
            outline-offset: 0.7em;
            border: 1px solid black;    
            height: 50vh;
            margin: 2em 0;
            background-color: #EEE;
            position: relative;
            // box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
            
            
            &:nth-child(even) {
                flex-direction: row-reverse;

                .img {
                    border-left: 1px solid black;
                    border-right: none;
                }
            }
        }

        .img {
            flex: 0 0 50%;
            border-right: 1px solid black;
            overflow: hidden;
            box-shadow: inset 0 0 1.5em #888888;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .content {
            flex: 0 0 50%;
            padding: 1em 2em;
            box-shadow:inset 0 0 1em #888888;
        }
    }
}

.page-contacts {
    .info {
        max-width: var(--layout-width);
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    .form {
        flex: 0 0 35%;
        height: 50vh;
        margin: 3em 1em;

        input {
            display: block;
            width: 100%;
            padding: 0.5em 1em;
            margin-bottom: 1em;
        }

        .message {
            height: 15vh;
        }

        .submit {
            width: auto;
            background-color: orange;
            border-radius: 0.5em;
            border: none;
        }
    }

    .adress {
        flex: 0 0 50%;

        h3 {
            color: rgb(126, 125, 125);
        }

        p {
            font-size: 0.8em;
        }
    }
}
// input:checked + .site-about {
//     background-position: center;
// }